.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    background-color: bisque;
    margin: 5px;
    padding: 5px;
}

.itemImage {
    width: 100px;
    height: 100px;
}