.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 5px;
    margin: 5px;
}

.itemImage {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.itemTitle {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.itemDescription {
    background-color: chartreuse;
    margin: 0;
    padding: 0;
}

.itemPrice {
    background-color: crimson;
    margin: 0;
    padding: 0;
}

.addToCartButton {
    background-color: darkcyan;
    margin: 0;
    padding: 0;
}